* {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #3b475b;
}

body {
  color: #FFFFCC;
}

a {
  text-decoration: none; color:#FFFFCC; font-size: .75em;
}

/* Input Styling */

input[type=text] {
  background-color: #FFFFCC;
  color: #3b475b;
}

input[type=button], input[type=submit] {
  background-color: #FFFFCC;
  color: #3b475b;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFCC;
}

/* Menu Styling */

.menu {
  margin: auto;
  text-decoration: none;
  border: 5px solid #FFFFCC;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  text-align: center;
  border-bottom: 2px solid #FFFFCC;
}

.new {
  text-align: right;
}

.section {
  border-top: 2px solid #FFFFCC;
  padding: 10px 0;
  }

.name {
}

.price {
  float: right;
}

.interactive {
  text-align: right;
  padding-bottom: 10px;
}
