<html>
<body>
  <h1>Add a Menu Item</h1>
  <form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method='post'>
    <p>Name: <input type=text size="30" name="name" placeholder="New Menu Item Name"></p>
    <p>Description: <input type='text' size="30" name="description" placeholder="New Menu Item Description"></p>
    <p>Price: <input type="text" size "30" name="price" placeholder="New Menu Item Price"></p>
    <p>Course:<br>
      <input type="radio" name="course" value="Appetizer">Appetizer<br>
      <input type="radio" name="course" value="Entree">Entree<br>
      <input type="radio" name="course" value="Dessert">Dessert<br>
      <input type="radio" name="course" value="Beverage">Beverage<br>
    <p><input type=submit value="Create"></p>
    <p><a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">Cancel</a></p>
  </form>
</body>
</html>
